.popup{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-content{
    width: 400px;
    background-color: rgb(27, 26, 26);
    padding: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 4px rgb(0,0,0);
}

.popup .popup-content input[type=text]{
    width: 100%;
    padding: 20px;
    height: 10px;
    outline: none;
    background-color:transparent;
    border:none;
    border-bottom: 2px solid rgb(108, 107, 107);
    color:lightgrey;
    font-size: 18px;
}

.popup .popup-content button{
    margin-top: 20px;
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: rgb(20, 83, 92);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
}
